In [4]:
import pygmt
import pandas as pd
from pygmt.src import which

In [22]:
hotspots = pygmt.datasets.load_hotspots()
print(hotspots)

    longitude  latitude  icon_size  \
0     42.0000   12.0000       0.25
1    -25.0000  -17.0000       0.25
2    -14.0000   -8.0000       0.25
3   -139.9699  -29.3722       0.25
4    -28.0000   38.0000       0.25
5   -113.0000   27.0000       0.25
6    164.7017  -67.3982       0.25
7    -60.0000   30.0000       0.25
8      4.0000  -54.0000       0.25
9   -135.6000   53.5000       0.25
10   -17.0000   28.0000       0.25
11   -24.0000   15.0000       0.25
12    -6.1500  -13.0000       0.25
13   166.0000    5.0000       0.25
14    44.0000  -12.0000       0.25
15    45.0000  -46.2500       0.25
16  -149.4000  -27.8000       0.25
17     7.0000   50.0000       0.25
18   -32.0000   -4.0000       0.25
19   -91.0000    0.0000       0.25
20  -155.0000   20.0000       0.50
21     6.0000   23.0000       0.25
22   -20.0000   64.0000       0.25
23    24.0000   13.0000       0.25
24  -128.0000   46.0000       0.25
25   -79.0000  -34.0000       0.25
26    63.0000  -49.0000       0.25
27    36.0000   -3.0000       0.25
28  -116.7000  -26.3000       0.25
29  -138.1000  -50.9000       0.50
30  -119.8000  -29.0000       0.25
31   -17.0000   33.0000       0.25
32    37.7000  -46.8000       0.25
33  -137.5000   -7.5000       0.25
34  -153.5000  -21.0000       0.25
35     9.0000    4.0000       0.25
36   167.0000  -78.0000       0.25
37  -120.3000  -10.0000       0.25
38  -130.1000  -24.1000       0.25
39  -104.0000   37.0000       0.25
40    55.5000  -21.0000       0.50
41    77.5000  -38.7200       0.25
42  -109.0000  -27.0000       0.25
43  -169.6000  -14.2000       0.25
44   -80.0000  -27.0000       0.25
45  -147.9819  -18.0925       0.25
46  -149.5000  -17.6000       0.25
47   156.3000  -40.5000       0.25
48    17.0000   21.0000       0.25
49   -29.0000  -20.0000       0.25
50   -12.0000  -37.0000       0.50
51    16.0000  -32.0000       0.25
52  -111.0000   45.0000       0.25
53   -28.5000   29.3400       0.50
54    48.4000  -53.4000       0.25

                                                 name
0                                      Afar, Ehtiopia
1                                     Arnold Seamount
2                                           Ascension
3                        Austral-Cook Islands Hotspot
4                                              Azores
5                             Baja California, Guadal
6                                             Balleny
7                                             Bermuda
8                                              Bouvet
9                    Bowie Seamount, Kodiac Seamounts
10                                     Canary Islands
11                                         Cape Verde
12                                    Cardno Seamount
13                                   Caroline Islands
14                                    Comores Islands
15                                             Crozet
16                                      Easter Island
17                                     Eifel, Belgium
18                                           Fernando
19                                  Galapagos Islands
20                                             Hawaii
21                            Hoggar Mountains, Alger
22                                            Iceland
23                                 Jebel Marra, Sudan
24                            Juan De Fuca, Cobb Seam
25                                     Juan Fernandez
26                                          Kerguelen
27                         Lake Victoria, East Africa
28                                       Line Islands
29                                 Louisville Hotspot
30                                 Macdonald Seamount
31                                            Madeira
32                                      Marion Island
33                                  Marquesas Islands
34                           Marshall-Gilbert Islands
35                                     Mount Cameroon
36                                       Mount Erebus
37                                  Musicians Hotspot
38                                    Pitcairn Island
39                                  Raton, New Mexico
40                                            Reunion
41                                    St. Paul Island
42                                       Sala Y Gomez
43                                              Samoa
44                                          San Felix
45                                    Society Islands
46                                             Tahiti
47                                          Tasmantid
48                                      Tibesti, Chad
49                                           Trindade
50                                   Tristan Da Cunha
51                                      Vema Seamount
52                                        Yellowstone
53                     Active Seamount S Of Greenland
54  Unnamed Seamount East Of Lena Seamount On Conr...

In [6]:
fname = pygmt.src.which("@hotspots.txt", download="c")

In [20]:
data = pd.read_csv(fname, header=3, sep=r"\s+", names=["longitutde", "latitude", "icon_size", "name"])

ParserError: Error tokenizing data. C error: Expected 5 fields in line 7, saw 6

In [18]:
print(data)

           #     From  Mueller,            Royer,          and  Lawver,  \
0    42.0000  12.0000      0.25             AFAR,     EHTIOPIA      NaN
1   -25.0000 -17.0000      0.25            ARNOLD     SEAMOUNT      NaN
2   -14.0000  -8.0000      0.25         ASCENSION          NaN      NaN
3  -139.9699 -29.3722      0.25      AUSTRAL-COOK      ISLANDS  HOTSPOT
4   -28.0000  38.0000      0.25            AZORES          NaN      NaN
5  -113.0000  27.0000      0.25              BAJA  CALIFORNIA,   GUADAL
6   164.7017 -67.3982      0.25           BALLENY          NaN      NaN
7   -60.0000  30.0000      0.25           BERMUDA          NaN      NaN
8     4.0000 -54.0000      0.25            BOUVET          NaN      NaN
9  -135.6000  53.5000      0.25             BOWIE    SEAMOUNT,   KODIAC
10  -17.0000  28.0000      0.25            CANARY      ISLANDS      NaN
11  -24.0000  15.0000      0.25              CAPE        VERDE      NaN
12   -6.1500 -13.0000      0.25            CARDNO     SEAMOUNT      NaN
13  166.0000   5.0000      0.25          CAROLINE      ISLANDS      NaN
14   44.0000 -12.0000      0.25           COMORES      ISLANDS      NaN
15   45.0000 -46.2500      0.25            CROZET          NaN      NaN
16 -149.4000 -27.8000      0.25            EASTER       ISLAND      NaN
17    7.0000  50.0000      0.25            EIFEL,      BELGIUM      NaN
18  -32.0000  -4.0000      0.25          FERNANDO          NaN      NaN
19  -91.0000   0.0000      0.25         GALAPAGOS      ISLANDS      NaN
20 -155.0000  20.0000      0.50            HAWAII          NaN      NaN
21    6.0000  23.0000      0.25            HOGGAR   MOUNTAINS,    ALGER
22  -20.0000  64.0000      0.25           ICELAND          NaN      NaN
23   24.0000  13.0000      0.25             JEBEL       MARRA,    SUDAN
24 -128.0000  46.0000      0.25              JUAN           DE    FUCA,
25  -79.0000 -34.0000      0.25              JUAN    FERNANDEZ      NaN
26   63.0000 -49.0000      0.25         KERGUELEN          NaN      NaN
27   36.0000  -3.0000      0.25              LAKE    VICTORIA,     EAST
28 -116.7000 -26.3000      0.25              LINE      ISLANDS      NaN
29 -138.1000 -50.9000      0.50        LOUISVILLE      HOTSPOT      NaN
30 -119.8000 -29.0000      0.25         MACDONALD     SEAMOUNT      NaN
31  -17.0000  33.0000      0.25           MADEIRA          NaN      NaN
32   37.7000 -46.8000      0.25            MARION       ISLAND      NaN
33 -137.5000  -7.5000      0.25         MARQUESAS      ISLANDS      NaN
34 -153.5000 -21.0000      0.25  MARSHALL-GILBERT      ISLANDS      NaN
35    9.0000   4.0000      0.25             MOUNT     CAMEROON      NaN
36  167.0000 -78.0000      0.25             MOUNT       EREBUS      NaN
37 -120.3000 -10.0000      0.25         MUSICIANS      HOTSPOT      NaN
38 -130.1000 -24.1000      0.25          PITCAIRN       ISLAND      NaN
39 -104.0000  37.0000      0.25            RATON,          NEW   MEXICO
40   55.5000 -21.0000      0.50           REUNION          NaN      NaN
41   77.5000 -38.7200      0.25               ST.         PAUL   ISLAND
42 -109.0000 -27.0000      0.25              SALA            Y    GOMEZ
43 -169.6000 -14.2000      0.25             SAMOA          NaN      NaN
44  -80.0000 -27.0000      0.25               SAN        FELIX      NaN
45 -147.9819 -18.0925      0.25           SOCIETY      ISLANDS      NaN
46 -149.5000 -17.6000      0.25            TAHITI          NaN      NaN
47  156.3000 -40.5000      0.25         TASMANTID          NaN      NaN
48   17.0000  21.0000      0.25          TIBESTI,         CHAD      NaN
49  -29.0000 -20.0000      0.25          TRINDADE          NaN      NaN
50  -12.0000 -37.0000      0.50           TRISTAN           DA    CUNHA
51   16.0000 -32.0000      0.25              VEMA     SEAMOUNT      NaN
52 -111.0000  45.0000      0.25       YELLOWSTONE          NaN      NaN
53  -28.5000  29.3400      0.50            ACTIVE     SEAMOUNT        S
54   48.4000 -53.4000      0.25           UNNAMED     SEAMOUNT     EAST

        1993,   Geology,      vol.  21,     pp. 275-278.
0         NaN        NaN       NaN  NaN     NaN      NaN
1         NaN        NaN       NaN  NaN     NaN      NaN
2         NaN        NaN       NaN  NaN     NaN      NaN
3         NaN        NaN       NaN  NaN     NaN      NaN
4         NaN        NaN       NaN  NaN     NaN      NaN
5         NaN        NaN       NaN  NaN     NaN      NaN
6         NaN        NaN       NaN  NaN     NaN      NaN
7         NaN        NaN       NaN  NaN     NaN      NaN
8         NaN        NaN       NaN  NaN     NaN      NaN
9   SEAMOUNTS        NaN       NaN  NaN     NaN      NaN
10        NaN        NaN       NaN  NaN     NaN      NaN
11        NaN        NaN       NaN  NaN     NaN      NaN
12        NaN        NaN       NaN  NaN     NaN      NaN
13        NaN        NaN       NaN  NaN     NaN      NaN
14        NaN        NaN       NaN  NaN     NaN      NaN
15        NaN        NaN       NaN  NaN     NaN      NaN
16        NaN        NaN       NaN  NaN     NaN      NaN
17        NaN        NaN       NaN  NaN     NaN      NaN
18        NaN        NaN       NaN  NaN     NaN      NaN
19        NaN        NaN       NaN  NaN     NaN      NaN
20        NaN        NaN       NaN  NaN     NaN      NaN
21        NaN        NaN       NaN  NaN     NaN      NaN
22        NaN        NaN       NaN  NaN     NaN      NaN
23        NaN        NaN       NaN  NaN     NaN      NaN
24       COBB       SEAM       NaN  NaN     NaN      NaN
25        NaN        NaN       NaN  NaN     NaN      NaN
26        NaN        NaN       NaN  NaN     NaN      NaN
27     AFRICA        NaN       NaN  NaN     NaN      NaN
28        NaN        NaN       NaN  NaN     NaN      NaN
29        NaN        NaN       NaN  NaN     NaN      NaN
30        NaN        NaN       NaN  NaN     NaN      NaN
31        NaN        NaN       NaN  NaN     NaN      NaN
32        NaN        NaN       NaN  NaN     NaN      NaN
33        NaN        NaN       NaN  NaN     NaN      NaN
34        NaN        NaN       NaN  NaN     NaN      NaN
35        NaN        NaN       NaN  NaN     NaN      NaN
36        NaN        NaN       NaN  NaN     NaN      NaN
37        NaN        NaN       NaN  NaN     NaN      NaN
38        NaN        NaN       NaN  NaN     NaN      NaN
39        NaN        NaN       NaN  NaN     NaN      NaN
40        NaN        NaN       NaN  NaN     NaN      NaN
41        NaN        NaN       NaN  NaN     NaN      NaN
42        NaN        NaN       NaN  NaN     NaN      NaN
43        NaN        NaN       NaN  NaN     NaN      NaN
44        NaN        NaN       NaN  NaN     NaN      NaN
45        NaN        NaN       NaN  NaN     NaN      NaN
46        NaN        NaN       NaN  NaN     NaN      NaN
47        NaN        NaN       NaN  NaN     NaN      NaN
48        NaN        NaN       NaN  NaN     NaN      NaN
49        NaN        NaN       NaN  NaN     NaN      NaN
50        NaN        NaN       NaN  NaN     NaN      NaN
51        NaN        NaN       NaN  NaN     NaN      NaN
52        NaN        NaN       NaN  NaN     NaN      NaN
53         OF  GREENLAND       NaN  NaN     NaN      NaN
54         OF       LENA  SEAMOUNT   ON  CONRAD     RISE

In [21]:
with open(hotspots) as f:
    f.readline()
    f.readline()
    f.readline()
    hotspots = []
    for line in f:
        line_split = line.strip().split("\t")
        hotspot = [float(item.strip()) for item in line_split[0].split()]
        hotspot.append(line_split[1].title())
        hotspots.append(hotspot)
print(hotspots)

TypeError: expected str, bytes or os.PathLike object, not DataFrame

In [60]:
pd.DataFrame(hotspots, columns=["longitude", "latitude", "icon_size", "name"])

,longitude,latitude,icon_size,name
0,42.0000,12.0000,0.25,"AFAR, EHTIOPIA"
1,-25.0000,-17.0000,0.25,ARNOLD SEAMOUNT
2,-14.0000,-8.0000,0.25,ASCENSION
3,-139.9699,-29.3722,0.25,AUSTRAL-COOK ISLANDS HOTSPOT
4,-28.0000,38.0000,0.25,AZORES
5,-113.0000,27.0000,0.25,"BAJA CALIFORNIA, GUADAL"
6,164.7017,-67.3982,0.25,BALLENY
7,-60.0000,30.0000,0.25,BERMUDA
8,4.0000,-54.0000,0.25,BOUVET
9,-135.6000,53.5000,0.25,"BOWIE SEAMOUNT, KODIAC SEAMOUNTS"
10,-17.0000,28.0000,0.25,CANARY ISLANDS
11,-24.0000,15.0000,0.25,CAPE VERDE
12,-6.1500,-13.0000,0.25,CARDNO SEAMOUNT
13,166.0000,5.0000,0.25,CAROLINE ISLANDS
14,44.0000,-12.0000,0.25,COMORES ISLANDS
15,45.0000,-46.2500,0.25,CROZET
16,-149.4000,-27.8000,0.25,EASTER ISLAND
17,7.0000,50.0000,0.25,"EIFEL, BELGIUM"
18,-32.0000,-4.0000,0.25,FERNANDO
19,-91.0000,0.0000,0.25,GALAPAGOS ISLANDS
20,-155.0000,20.0000,0.50,HAWAII
21,6.0000,23.0000,0.25,"HOGGAR MOUNTAINS, ALGER"
22,-20.0000,64.0000,0.25,ICELAND
23,24.0000,13.0000,0.25,"JEBEL MARRA, SUDAN"
24,-128.0000,46.0000,0.25,"JUAN DE FUCA, COBB SEAM"
25,-79.0000,-34.0000,0.25,JUAN FERNANDEZ
26,63.0000,-49.0000,0.25,KERGUELEN
27,36.0000,-3.0000,0.25,"LAKE VICTORIA, EAST AFRICA"
28,-116.7000,-26.3000,0.25,LINE ISLANDS
29,-138.1000,-50.9000,0.50,LOUISVILLE HOTSPOT
30,-119.8000,-29.0000,0.25,MACDONALD SEAMOUNT
31,-17.0000,33.0000,0.25,MADEIRA
32,37.7000,-46.8000,0.25,MARION ISLAND
33,-137.5000,-7.5000,0.25,MARQUESAS ISLANDS
34,-153.5000,-21.0000,0.25,MARSHALL-GILBERT ISLANDS
35,9.0000,4.0000,0.25,MOUNT CAMEROON
36,167.0000,-78.0000,0.25,MOUNT EREBUS
37,-120.3000,-10.0000,0.25,MUSICIANS HOTSPOT
38,-130.1000,-24.1000,0.25,PITCAIRN ISLAND
39,-104.0000,37.0000,0.25,"RATON, NEW MEXICO"
40,55.5000,-21.0000,0.50,REUNION
41,77.5000,-38.7200,0.25,ST. PAUL ISLAND
42,-109.0000,-27.0000,0.25,SALA Y GOMEZ
43,-169.6000,-14.2000,0.25,SAMOA
44,-80.0000,-27.0000,0.25,SAN FELIX
45,-147.9819,-18.0925,0.25,SOCIETY ISLANDS
46,-149.5000,-17.6000,0.25,TAHITI
47,156.3000,-40.5000,0.25,TASMANTID
48,17.0000,21.0000,0.25,"TIBESTI, CHAD"
49,-29.0000,-20.0000,0.25,TRINDADE
50,-12.0000,-37.0000,0.50,TRISTAN DA CUNHA
51,16.0000,-32.0000,0.25,VEMA SEAMOUNT
52,-111.0000,45.0000,0.25,YELLOWSTONE
53,-28.5000,29.3400,0.50,ACTIVE SEAMOUNT S OF GREENLAND
54,48.4000,-53.4000,0.25,UNNAMED SEAMOUNT EAST OF LENA SEAMOUNT ON CONR...